@charset "UTF-8";

/*background CSS*/
body {
	display: block;
	margin: 0px;
}

#wrap {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#wrap>div {
	overflow-x: hidden;
	background-image: url("/androne/resources/images/fullback.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	width: calc(100%);
	height: 100%;
	margin: 0px;
}

#back {
	background: white;
	width: 1600px;
	height: 820px;
	margin-left: 150px;
	margin-bottom: 90px;
	overflow-x: hidden;
	overflow-y: hidden;
}

#back h3 {
	margin: 25px;
}